//default css 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

h1{
  font-size:1.363rem;
  font-weight: 700;
}
h2{
  font-weight: 500;
}

body {
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//default css end
